.primary-button {
  padding: 5px 14px;
  transition: background-color 0.3s;
  &:hover{
      background:$color-primary-light;
      border-color: $color-primary-dark;
  }
}

.primary-button--big{
  display: block;
  margin: auto;
  min-width: 150px;
  min-height: 45px;
}
